#
# Ubuntu Desktop 22.04.2 LTS
#
# UUID:		22b7a320-ec86-48b4-b659-81fc417b712a
# SHORT ID:		22b7a320
#
menuentry "Ubuntu 22.04.2 VHDx" {
  icon "\22042301\jj-in-circle.png"
  vdisk "\22042301\Ubuntu-Desktop-22.04.2-L3.vhdx"
  vdtype vhdx
}


menuentry "Ubuntu 22.04.2 VHD" {
  icon "\22042301\jj-in-circle.png"
  vdisk "\22042301\Ubuntu-Desktop-22.04.2-L3.vhd"
  vdtype vhd
}